vendor
Tools
.env
.htaccess
index.php
READMEE.md
psalm.xml
composer.json
composer.lock
keys/*.key
src/db
test
md
New
hide
error
srccc
runtime-data/media/audio/*
runtime-data/media/chat/*
runtime-data/media/cover/*
runtime-data/media/image/*
runtime-data/media/other/*
runtime-data/media/profile/*
runtime-data/media/text/*
runtime-data/media/userData/*
runtime-data/media/video/*
runtime-data/logs/*
runtime-data/ratelimiter/*
!/**/placeholder.txt