parameters:
    level: 5

    paths:
        - src
        - tests

    reportUnmatchedIgnoredErrors: false

    ignoreErrors:
        - '#Method .+::.+\(\) is unused#'
        - '#(Comparison operation .+ is always false|Strict comparison using .+ will always evaluate to .+|Negated boolean expression is always false|Result of .+ is always (true|false)|Dead catch .+ is never thrown|Strict comparison using .+ will always evaluate to true)#'
        - '#Offset .+ in (isset|empty)\(\) always exists and is not (nullable|falsy)#'
        - '#Variable .+ in (isset|empty)\(\) (always exists and is not (nullable|falsy)|is never defined)#'
        - '#Call to function is_array\(\) with .+ will always evaluate to (true|false)#'
